html
{
    font: 81.25% Arial, Helvetica, sans-serif;
}

main
{
    display: grid;
    grid-template-areas: 'pl center center center right'
        'left center center center right'
        'sn center center center right';
    height: 100vh;
}

main > input
{
    display: none;
}

input[name='weather']:not(:checked) ~ .center .under-search .info .weather,
input[name='links']:not(:checked) ~ .center .under-search .info .all-links,
input[name='traffic']:not(:checked) ~ .center .under-search .info .traffic,
input[name='tv']:not(:checked) ~ .center .under-search .info .tv-program,
input[name='map']:not(:checked) ~ .center .under-search .info .map,
input[name='films']:not(:checked) ~ .center .under-search .info .films
{
    display: none;
}

input[name='weather']:not(:checked) ~ .settings .settings-list label[
for='wthr'],
input[name='links']:not(:checked) ~ .settings .settings-list label[for='lnks'],
input[name='traffic']:not(:checked) ~ .settings .settings-list label[
for='trffc'],
input[name='tv']:not(:checked) ~ .settings .settings-list label[for='tv'],
input[name='map']:not(:checked) ~ .settings .settings-list label[for='map'],
input[name='films']:not(:checked) ~ .settings .settings-list label[for='flms']
/*я не хотел переносить, меня заставилииии*/
{
    font-weight: normal;
}

.settings
{
    width: 120px;
    position: absolute;
    right: 13%;
    top: 18px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
    padding: 10px;
    background-color: white;
}

.settings p
{
    margin-top: 5px;
    margin-bottom: 3px;
}

.settings-list
{
    display: none;
}

.settings:hover .settings-list
{
    display: block;
}

.settings-list label
{
    margin-left: 0;
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.settings-list label:hover
{
    font-weight: bold;
}

.settings-list label:hover::first-letter
{
    color: #c00;
}

.left-column
{
    margin-right: 100px;
    grid-area: left;

}

.logo
{
    position: relative;
    left: 80%;
    top: -84px;
}

.center
{
    grid-area: center;
    display: flex;
    flex-direction: column;
}

.news
{
    margin-top: 65px;
    display: flex;
    flex-direction: row;
}

.news a
{
    text-decoration: none;
    font-size: 20px;
    color: #6da2e1;
    margin-right: 8px;

}

.news a:first-child
{
    color: #0054b9;
}

.news ul
{
    padding: 0;
    margin-bottom: 0;
}

.news li
{
    line-height: 25px;
}

.news span
{
    font-size: 12px;
    color: grey;
}

.advertisment
{
    margin-left: 120px;

}

.advertisment img
{
    margin-bottom: 15px;

}

.advertisment p
{
    color: #0054b9;
    margin: 0;
    font-size: 18px;
}

.advertisment p:last-child
{
    margin-bottom: 17px;
}

.money
{
    margin-top: -27px;
}

.money span
{
    color: grey;
    font-size: 13px;
    margin-right: 5px;
}

.money strong
{
    margin-right: 5px;
}

nav
{
    position: relative;
    margin-top: 25px;
}

nav a
{
    color: #0054b9;
    text-decoration: none;
    font-size: 16px;
    margin-right: 15px;
}

.search
{
    margin-top: 10px;
}

.search input[type='text']
{
    width: 80%;
    height: 30px;
    border: 2px solid #ffdb4d;
    position: relative;
}

.search input[type='button']
{
    height: 36px;
    width: 100px;
    margin-left: -5px;
    background-color: #ffdb4d;
    border: 2px solid #ffdb4d;
    font-size: 16px;
    position: relative;
    top: 1px;
}

input:focus
{
    outline: none;
}

.under-search p
{
    margin: 7px 0;
}

.under-search p span
{
    color: grey;
}

.under-search img
{
    width: 750px;
    margin-top: 8px;
}

.info
{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    height: 320px;
    align-content: flex-start;
}

.info a
{
    color: #0054b9;
    text-decoration: none;
    font-size: 18px;
}

.info img
{
    width: 32px;
    margin: 0;
}

.weather
{
    margin-bottom: 30px;
    width: 264px;
    position: relative;
}

.weather span
{
    font-size: 18px;
    color: #000;
    margin-left: 40px;
}

.weather img
{
    position: absolute;
    top: -7px;
}

.all-links
{
    width: 264px;
    margin-bottom: 30px;
}

.all-links ul
{
    padding: 0;
    margin-bottom: 0;
}

.all-links li
{
    line-height: 25px;
    list-style-type: none;
}

.all-links span
{
    font-weight: bold;
    color: #000;
}

.traffic
{
    margin-bottom: 30px;
    width: 244px;
    position: relative;
}

.traffic img
{
    position: absolute;
    top: -4px;
}

.traffic span
{
    font-size: 18px;
    margin-left: 40px;
}

.tv-program
{
    width: 244px;
    margin-bottom: 30px;
}

.tv-program ul
{
    line-height: 25px;
    list-style-type: none;
    padding: 0;
}

.tv-program span
{
    color: grey;
}

.map
{
    margin-bottom: 30px;
    width: 244px;
}

.map p
{
    font-weight: bold;
}

.films
{
    width: 224px;
    margin-bottom: 30px;
}

.films ul
{
    line-height: 25px;
    list-style-type: none;
    padding: 0;
}

.films span
{
    color: grey;
}

.right-column
{
    grid-area: right;
}

.right-column .data
{
    box-shadow: 0 0 2px 0 rgba(0,0,0,.1), 0 2px 6px 0 rgba(0,0,0,.1);
    margin-top: 10px;
    height: 70px;
    width: 140px;
    padding: 5px;
    position: relative;
    right: -30%;
}

.right-column p
{
    color: #000;
    margin-left: 10px;
}

.right-column p:first-child
{
    font-weight: bold;
}

.right-column p:first-child:first-letter
{
    color: #c00;
}

.right-column span
{
    color: grey;
}

a:hover,
li:hover
{
    color: #c00 !important;
}
